# Python & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# SQLite Database Files
*.db
*.sqlite
*.sqlite3

# Virtual Environments
venv/
.venv/
env/

# IDEs & System Files
.vscode/
.idea/
.DS_Store
Thumbs.db
